[Unit]
Description=Touchscreen rotator for convertible laptops (requires device-orientation-updater)

[Install]
WantedBy=xorg.target


[Service]
Type=simple
ExecStart=/bin/bash /opt/mate-touch-rotate/device-rotation-listener.sh
