[Unit]
Description=Touchscreen rotator for convertible laptops (requires device-orientation-updater)

[Install]
WantedBy=xorg.target


[Service]
Type=simple
# environment varibales TOUCHSCREEN and TOUCHPAD will be placed here at installation
